.Character__container{
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 150px;
    border: 5px solid #1ce9d8;
    margin-bottom: 50px;
}
.Character__image{
    width: 150px;
    height: 150px;
}
.Character__data{
    margin-left: 10px;
}
.Character__data p,small{
    margin: 0;
    padding: 0;
    color: rgb(63, 240, 9);
}
.Character__data h3{
    color: red;
}
